# Adding Geospatial Coordinates to Wikipedia Table

Read Wikipedia data from wiki_toronto_data.xls file

In [25]:
df1 = pd.read_excel('wiki_toronto_data.xls')
print(df1.shape)
df1.head()

(103, 3)

  Postcode           Borough                     Neighborhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

Read Geospatial_Coordinates.csv

In [26]:
df2 = pd.read_csv("Geospatial_Coordinates.csv")
# Rename Postal Code to Postcode
df2.rename(columns={'Postal Code':'Postcode'},inplace=True)
print(df2.shape)
df2.head()

(103, 3)

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

Merge 2 tables on Postcode

In [27]:
frames = pd.concat([df1,df2], axis=1, sort=False)
# Merging the two columns on 'Postcode'
df = pd.merge(df1, df2, left_on='Postcode', right_on='Postcode')
print(df.shape)
df.head()

(103, 5)

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494

Save to files

In [28]:
df.to_excel('toronto_data.xls',index=False)
df.to_csv('toronto_data.csv',index=False)

Load from file

In [29]:
df = pd.read_csv('toronto_data.csv')
print(df.shape)
df.head()

(103, 5)

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494